<a href="https://colab.research.google.com/github/phyo-thandar/MMDT_T-PY101_Batch03/blob/main/Phyo_Thandar_Hlaing/Ex2_datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex 1 : Check the lenght of the string "My name is python"

In [1]:
text = "My name is python"
len(text)

17

Ex 2: Check the number of times "python" (regardless of cases: PYTHON, python, Python" appears in the paragraph : "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

In [2]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
s.count("python")

0

Ex 3: Combine two lists : ls1 = ["apple", "banana", "cherry"] and ls2 = ["apple", "banana", "cherry", "apple", "cherry"]. Print the number of elements in new list.

In [10]:
ls1 = ["apple","banana","cherry"]
ls2 = ["apple","banana","cherry","apple","cherry"]
new_ls = ls1 + ls2
print(new_ls)
print(len(new_ls))

['apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'cherry']
8

Ex 4: Create a dictionary for the following table:

| Name | Age |
| --- | --- |
| Myo | 32 |
| Thida | 64 |

In [12]:
Dic = [{"Name":"Myo", "Age": 32},{"Name":"Thida", "Age": 64}]

Ex 5: Combine two sets and print the combined set and its length.
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}

In [13]:
set1={"Name","age","Height"}
set2 = {"Name", "status", "Education"}
new_set = set1.union(set2)
print(new_set)
print(len(new_set))

{'Name', 'status', 'age', 'Education', 'Height'}
5

Ex 6: Write a program that asks the user to enter a string. The program should create a new string called new_string from the user's string such that the second character is changed to an asterisk and three exclamation points are attached to the end of the string. Finally, print new_string.

In [19]:
string = input("Enter a string: ")
new_string = string[0] + "*" + string[2:] + "!!!"
print(new_string)

Enter a string: Python
P*thon!!!

Ex 7: Write a program that converts the given string 's' to lowercase, removes all Punctuation marks such as period, hyphen, and commas from 's', and prints the resulting string.

In [28]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
s = s.lower()
punctuations = [";",",","-"]
for p in punctuations:
  s = s.replace(p,"")
print(s)

floatingpoint values in python are always done in double precision hence python float types correspond to doubles in a clike language.

Ex 8: L1 and L2 should be identical. Write a program that finds the missing number in L2.

In [33]:
from random import randint
L1 = list(range(1,101))
L2 = L1.copy()
L2.remove(randint(1,101))
set1 = set(L1)
set2 = set(L2)
missing_number = set1.difference(set2)
print(missing_number)

{26}

Ex 9: Write a program to copy the ls1 = ["apple", "banana", "cherry"] to a new list. Add the element "blueberry" to the new list, but keep the original list the same.

In [40]:
ls1 = ["apple", "banana", "cherry"]
new_list = ls1.copy()
new_element =["blueberry"]
new_list.extend(new_element)
print(new_list)
print(ls1)

['apple', 'banana', 'cherry', 'blueberry']
['apple', 'banana', 'cherry']