<a href="https://colab.research.google.com/github/phyo-thandar/MMDT_T-PY101_Batch03/blob/main/Phyo_Thandar_Hlaing/Ex5_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercises are taken from : https://www.brianheinold.net/python/A_Practical_Introduction_to_Python_Programming_Heinold.pdf

Ex 1: Write a function called rectangle that takes two integers m and n as arguments and prints
out an m× n box consisting of asterisks. Shown below is the output of rectangle(2,4)
****
****

In [2]:
def rectangle(m,n):
    for k in range(m):
        print(n*'*')

rectangle(2,4)

****
****

Ex 2: Write a function that takes an integer n and returns a random integer with exactly n digits. For
instance, if n is 3, then 125 and 593 would be valid return values, but 093 would not because
that is really 93, which is a two-digit number.

In [3]:
import random
def calcualte_numbers ( n ):
    result = random.randint(10**(n-1) , 10**(n)-1)


    return result

calcualte_numbers(2)

64

Ex 3: Write a function called number_of_factors that takes an integer and returns how many
factors the number has.

In [10]:
def number_of_factors(n):
  count = 0
  for i in range(1,n+1):
    if n % i == 0:
      count = count + 1

  return count
number_of_factors(6)

4

Ex4: Write a function called first_diff that is given two strings and returns the first location in
which the strings differ. If the strings are identical, it should return -1.Ignore the case in your function. It means h and H are the same.

In [21]:
def first_diff(first_string="Apple", second_string="apple"):

    for i in range(len(first_string), len(second_string)):
        if first_string[i] != second_string[i]:
            return i

    if len(first_string) == len(second_string):
        return len(first_string), len(second_string)

    return -1

Ex5: Write a function called root that is given a number x and an integer n and returns x/n. In
the function definition, set the default value of n to 2.

In [22]:
def root(x, n = 2):
    return x/n

Ex6: Write a function that solves the system of equations ax + by = e and cx +dy = f. Your function should takes 6 parameters, (a, b, c, d, e,f) and return the values of x and y.

In [24]:
def solution(a,b,c,d,e,f):

  x = ((d*e)-(b*f))/((a*d)-(b*c))

  y = (f-(c*x))/d

  return x,y

Ex7:  Write a function called change_case that given a string, returns a string with each upper  case letter replaced by a lower case letter and vice-versa

In [35]:
def change_case(string):
  change = ""
  for char in string:
    if char.isupper():
      change += char.lower()
    else:
      change += char.upper()

  return change
print(change_case("Hello World"))

hELLO wORLD

Ex8:  Write a function called primes that is given a number n and returns a list of the first n  primes. Let the default value of n be 100.

In [36]:
def primes(n = 100):
  prime_list = []
  num = 2

  while len(prime_list)<n:
    count = 0
    for i in range(1, num+1):
      if num%2 == 0:
        count = count + 1

    if count==2:
      prime_list = prime_list + [num]

    num = num + 1

  return prime_list

Ex9: A Tic-tac-toe board can be represented be a 3×3 two-dimensional list, where zeroes stand for  empty cells, ones stand for X’s and twos stand for O’s. Write a function that is given such a list and randomly chooses a spot in which to place  a 2 (O). The spot chosen must currently be empty and a spot must be chosen.

In [37]:
import random

def list_of_spots(board):
  empty_spots = []

  for r in range(3):
    for c in range(3):
      if board[r][c] == 0:
        empty_spots = empty_spots + [(r,c)]

  row, col = random.choice(empty_spots)
  board[row][col] = 2

  return board

Ex10:  Write a function that is given a 9 × 9 potentially solved Sudoku and returns True if it is solved correctly and False if there is a mistake. The Sudoku is correctly solved if there are
 no repeated numbers in any row or any column or in any of the nine “blocks.”

In [38]:
import random
def sudoku(chart):
  numbers = set(range(1,10))

  for row in chart:
    if set(row) != numbers:
      return False

  for col in chart:
    if set(col) != numbers:
      return False

  for block_rows in range(0,9,3):
    for block_cols in range(0,9,3):
      block = []

      for rows in range(block_rows , block_rows + 3):
        for cols in range(block_cols, block_cols + 3):
          chart[rows][cols]

      if set(block) != numbers:
        return False
  return True